.room{
    margin: auto;
    height: 100vh;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.lit{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}